$colors: (
  theme: (
    100: #fbf1f1,
    200: #d59f9f,
    300: #c07171,
    400: #b25858,
    500: #873e3e,
    600: #512222,
    700: #351a1a,
  ),
  basic: (
    "black": #000,
    "white": #fff,
    "gray": rgb(34, 33, 33),
    "dark": rgb(24, 23, 23),
  ),
);
